<%- include("templates/header") %>
  <% if (validationError) { %>
    <div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
          <h2>Invalid Email/Password Combination:</h2>
          <div><%= validationMessage %></div>
          <br/>
          <%- include("templates/back-to-login") %>
        </div>
      </div>
    </div>
  <% } else if (!userFound) { %>
    <div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
          <h2>User Not Found!</h2>
          <br/>
          <%- include("templates/back-to-login") %>
        </div>
      </div>
    </div>
  <% } else if (!correctPassword) { %>
    <div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
          <h2>Incorrect Password!</h2>
          <br/>
          <%- include("templates/back-to-login") %>
        </div>
      </div>
    </div>
  <% } %>
<%- include("templates/footer") %>