<%- include("templates/header") %>
  <div class="navbar navbar-light bg-light text-black"
    style="overflow: hidden; position: fixed; justify-content: space-around; top: 0; width: 100%; margin: auto; z-index: 9999;">
    <a class="nav-link" href="/">
      <img src="/arrow.png" width="30" height="30" alt="back icon">
    </a>
    <h3>
      <%= movie.Title %>
    </h3>
  </div>
  <br>

  <div class="container" style="margin-top: 100px;">
    <div class="card p-3">
      <img class="" src="<%= movie.Poster_Url %>" width="100" height="100" alt="movie poster">
      <h3 class="lead">Original Language: <%=movie.Original_Language %>
      </h3>
      <p class="">
        <b>Genre:</b>
        <%= movie.Genre %>
      </p>
      <h3 class="lead"> Rating: <%=movie.Vote_Average %>
      </h3>
    </div>

    <div class="card p-3">
      <h3 class="display-6">Description:</h3>
      <p class="">
        <%= movie.Overview %>
      </p>
    </div>

    <div class="card p-3">
      <h3 class="lead">Release Date: <%=movie.Release_Date %>
      </h3>
    </div>
  </div>




  <script>
    async function addToWatchlist() {
      const movieId = '<%= movie._id %>';
      const response = await fetch(`/add-to-interested?movieId=${movieId}`, { method: 'POST' });

      if (!response.ok) {
        throw new Error("An error occurred");
      }

      const data = await response.json();
      if (data.alreadyInWatchlist) {
        // Display the modal
        $("#alreadyInWatchlistModal").modal("show");
      } else if (data.redirect) {
        // Redirect to the specified location
        window.location.href = data.redirect;
      } else {
        // Refresh the page to reflect the changes
        location.reload();
      }
    }

    async function addToRejected() {
      const movieId = '<%= movie._id %>';
      const response = await fetch(`/add-to-not-interested?movieId=${movieId}`, { method: 'POST' });

      if (!response.ok) {
        throw new Error("An error occurred");
      }

      const data = await response.json();
      if (data.alreadyInRejectedlist) {
        // Display the modal
        $("#alreadyRejectedModal").modal("show");
      } else if (data.redirect) {
        // Redirect to the specified location
        window.location.href = data.redirect;
      } else {
        // Refresh the page to reflect the changes
        location.reload();
      }
    }

    async function checkAndAddToWatchlist() {
      const movieId = '<%= movie._id %>';
      const checkResponse = await fetch(`/check-watchlist?movieId=${movieId}`);
      const { isMovieInWatchlist } = await checkResponse.json();

      if (isMovieInWatchlist) {
        // If the movie is already in the watchlist, show the 'already in watchlist' modal
        $("#alreadyInWatchlistModal").modal("show");
      } else {
        // If the movie is not in the watchlist, show the confirmation modal
        $("#confirmAddModal").modal("show");
      }
    }

    function egg() {
      console.log("egg");
      if (<%= watchlistLength %> == 4) {
        alert("MovieMate Profile Picture unlocked!");
      }
    }


    async function checkAndAddToRejected() {
  const movieId = '<%= movie._id %>';
  const checkResponse = await fetch(`/check-rejected?movieId=${movieId}`);
  const { isMovieInRejectedList } = await checkResponse.json();

  console.log(isMovieInRejectedList);
  if (isMovieInRejectedList) {
    // If the movie is already in the rejected list, show the 'already rejected' modal
    $("#alreadyRejectedModal").modal("show");
  } else {
    // If the movie is not in the rejected list, show the rejection confirmation modal
    $("#confirmRejectModal").modal("show");
  }
}

  </script>

  <br><br><br>



  <nav class="navbar navbar-light bg-light"
    style="overflow: hidden; position: fixed; justify-content: space-evenly; bottom: 0; width: 100%;">
    <a class="navbar-link" href="javascript:void(0);" onclick="checkAndAddToRejected()">
      <img src="/remove.png" width="45" height="45" alt="x icon">
    </a>
    <a class="nav-link" href="javascript:void(0);" onclick="egg(); checkAndAddToWatchlist();">
      <img src="/check.png" width="45" height="45" alt="checkmark icon">
    </a>
  </nav>

  <div id="alreadyInWatchlistModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The movie is already in your watchlist.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmAddModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you want to add this movie to your watchlist?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="addToWatchlist()">Add to Watchlist</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Rejection Confirmation Modal -->
    <div class="modal fade" id="confirmRejectModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you want to reject this movie?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="addToRejected()">Reject Movie</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Already Rejected Modal -->
    <div class="modal fade" id="alreadyRejectedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Movie Rejected</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>This movie has already been rejected.</p>
          </div>
        </div>
      </div>
    </div>


  </body>

  </html>