<%- include("templates/header") %>
  <div class="navbar navbar-light bg-light text-black" style="overflow: hidden; position: fixed; top: 0; width: 100%; margin: 
auto; z-index: 9999; display: flex; align-items: center; padding-left: 15px;">
    <div style="flex-shrink: 0;">
      <a class="nav-link" href="/" style="display: flex; align-items: center;">
        <img src="/arrow.png" width="30" height="30" alt="back icon">
      </a>
    </div>
    <div style="flex-grow: 1; text-align: center; overflow: hidden;">
      <h3 id="movieTitle" style="white-space: nowrap; overflow: hidden; margin: 0; max-width: 100%;">
        <%= movie.Title %>
      </h3>
    </div>
    <div style="flex-shrink: 0; width: 30px;"></div>
  </div>
  <br>

  <div class="container" style="margin-top: 100px;">
    <div class="card p-3" style="display: flex;">
      <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 10px;">
        <img class="" src="<%= movie.Poster_Url %>" width="100" alt="movie poster">
      </div>
      <div>
        <h3 class="lead" id="movieContainer">
          <span>Original Language:</span>
          <span>
            <%= movie.Original_Language %>
          </span>
        </h3>
        <p class="" id="movieContainer" style="font-size: 12px;">
          <span>Genre:</span>
          <span>
            <%= movie.Genre %>
          </span>
        </p>
        <h3 class="lead" id="movieContainer">
          <span>Rating:</span>
          <span>
            <%= movie.Vote_Average %>
          </span>
        </h3>
      </div>
    </div>

    <div class="card p-3">
      <h3 class="display-6">Description:</h3>
      <p class="">
        <%= movie.Overview %>
      </p>
    </div>

    <div class="card p-3">
      <h3 class="lead" id="movieContainer">
        <span>Release Date:</span>
        <span>
          <%=movie.Release_Date %>
        </span>
      </h3>
    </div>
  </div>

  <script>
    async function addToWatchlist() {
      const movieId = '<%= movie._id %>';
      const response = await fetch(`/add-to-interested?movieId=${movieId}`, { method: 'POST' });

      if (!response.ok) {
        throw new Error("An error occurred");
      }

      const data = await response.json();
      const promises = [];

      if (data.alreadyInWatchlist) {
        // Store the toast message
        localStorage.setItem('toastMessage', 'Already in watchlist');
      } else if (data.redirect) {
        // Store the toast message
        localStorage.setItem('toastMessage', 'Added to watchlist');
      }

      egg();
      
      window.location.href = '/';
    }

    async function addToRejected() {
      const movieId = '<%= movie._id %>';
      const response = await fetch(`/add-to-not-interested?movieId=${movieId}`, { method: 'POST' });

      if (!response.ok) {
        throw new Error("An error occurred");
      }

      const data = await response.json();


      if (data.alreadyInRejectedlist) {
        // Store the toast message
        localStorage.setItem('toastMessage', 'Already rejected');
      } else if (data.redirect) {
        // Store the toast message
        localStorage.setItem('toastMessage', 'Added to rejected');
      }

      // Redirect to the main page
      window.location.href = '/';
    }

    async function egg() {
      console.log("egg");
      if (<%= watchlistLength %> == 4) {
        // Store the toast messages
        localStorage.setItem('toastMessageEgg', 'MovieMate Profile Picture unlocked!');
        // Redirect to the main page
        // window.location.href = '/';
      }
    }
  </script>

  <br><br><br>

  <nav class="navbar navbar-light bg-light"
    style="overflow: hidden; position: fixed; justify-content: space-evenly; bottom: 0; width: 100%;">
    <a class="navbar-link" href="javascript:void(0);" onclick="addToRejected()">
      <img src="/remove.png" width="45" height="45" alt="x icon">
    </a>
    <a class="nav-link" href="javascript:void(0);" onclick="addToWatchlist();">
      <img src="/check.png" width="45" height="45" alt="checkmark icon">
    </a>
  </nav>

  <div id="alreadyInWatchlistModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">In Watchlist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The movie is already in your watchlist.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div class="modal fade" id="confirmAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The movie has been added to your watchlist.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Rejection Confirmation Modal -->
  <div class="modal fade" id="confirmRejectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The movie has been rejected.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Already Rejected Modal -->
  <div class="modal fade" id="alreadyRejectedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">In RejectList</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This movie has already been rejected.</p>
        </div>
      </div>
    </div>
  </div>
  </body>

  <style>
    #movieContainer {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 700px) {
      #movieTitle {
        font-size: 18px;
      }
    }

    @media (max-width: 525px) {
      #movieTitle {
        font-size: 16px;
      }
    }

    @media (max-width: 475px) {
      #movieTitle {
        font-size: 14px;
      }
    }

    @media (max-width: 400px) {
      #movieText {
        font-size: 12px;
      }

      #movieTitle {
        font-size: 13px;
      }
    }

    @media (max-width: 350px) {
      #movieTitle {
        font-size: 12px;
      }
    }
  </style>


  </html>