<%- include("templates/header") %> 
<div class="navbar navbar-light bg-light text-black" style="overflow: hidden; position: fixed; justify-content:space-around; top: 0; width: 100%; margin: auto;">
    <a class="nav-link" href="/">
        <img src="/arrow.png" width="30" height="30" alt="back icon">
    </a>
    <h3><%= movie.Title %></h3>
</div>
<div class="container" style="margin-top: 100px;">
    <div class="card p-3">
        <img class="" src ="<%= movie.Poster_Url %>" width="100" height="100" alt="movie poster">
        <h3 class="lead">Original Language: <%=movie.Original_Language %></h3>
        <p class="">
            <b>Genre:</b>
            <%= movie.Genre %>
        </p>
        <h3 class="lead"> Rating: <%=movie.Vote_Average %></h3>
    </div>

    <div class="card p-3">
        <h3 class="display-6">Description:</h3>
        <p class=""><%= movie.Overview %></p>
    </div>
    
    <div class="card p-3">
        <h3 class="lead">Release Date: <%=movie.Release_Date %></h3>
    </div>    

        

</div>
    
    
<%- include("templates/bottomnav") %>