<!-- ChatGPT-3.5 and Bootstrap documentation was heavily used below [https://getbootstrap.com/docs/5.3/getting-started/introduction/] -->
<%- include("templates/header") %>
<div class="navbar navbar-light bg-light text-black" style="overflow: hidden; position: fixed; top: 0; width: 100%; margin: auto; z-index: 9999; display: flex; align-items: center; padding-left: 15px;">
  <div style="flex-shrink: 0;">
      <a class="nav-link" href="/watchlist" style="display: flex; align-items: center;">
          <img src="/arrow.png" width="30" height="30" alt="back icon">
      </a>
  </div>
  
      <h3 id="movieTitle" style="display: inline-block; flex-grow: 1; text-align: center; white-space: nowrap; padding-left: 10px; margin: 0; max-width: calc(100% - 30px); text-overflow: ellipsis; overflow: hidden;"><%= movie.Title %></h3>
  
  <div style="flex-shrink: 0; width: 30px;"></div>
</div>



<div class="container" style="margin-top: 100px;">
  <div class="card p-3" style="display: flex;">
    <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 10px;">
      <img class="" src="<%= movie.Poster_Url %>" width="100" alt="movie poster">
    </div>
    <div>
      <h3 class="" style="display: flex; text-align: center; justify-content: center;">
        <span><%= movie.Title %></span>
      </h3>
      <h3 class="lead" id="movieContainer">
        <span id="spanLeft">Original Language:</span>
        <span id="spanRight"><%= movie.Original_Language %></span>
      </h3>
      <h3 class="lead" id="movieContainer">
        <span id="spanLeft">Genre:</span>
        <span id="spanRight"><i><%= movie.Genre %></i></span>
      </h3>
      <h3 class="lead" id="movieContainer">
        <span id="spanLeft">Rating:</span>
        <span id="spanRight"><%= movie.Vote_Average %></span>
      </h3>
    </div>
  </div>
  

    <div class="card p-3">
      <h3 class="display-6">Description:</h3>
      <p class="">
        <%= movie.Overview %>
      </p>
    </div>

    <div class="card p-3" id="movieText">
      <form id="watchlist-form" action="/change-watchlist?movieId=<%= movie._id %>" method="POST"
        style="display: flex; justify-content: space-between; align-items: start; position: relative;">
        <label>
          <h5 class="lead" id="spanLeft">Status:</h5>
        </label>
        <select name="status">
          <% const watchedStatus=movie.Watched; %>
            <option value="<%= watchedStatus %>">
              <%= watchedStatus %>
            </option>
            <% if (watchedStatus !=='Plan to Watch' ) { %>
              <option value="Plan to Watch">Plan to Watch</option>
              <% } %>
            <% if (watchedStatus !=='Currently Watching' ) { %>
              <option value="Currently Watching">Currently Watching</option>
              <% } %>
            <% if (watchedStatus !=='Completed' ) { %>
              <option value="Completed">Completed</option>
              <% } %>
            <% if (watchedStatus !=='Dropped' ) { %>
              <option value="Dropped">Dropped</option>
              <% } %>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="card p-3">
      <h3 class="lead" id="movieContainer">
        <span id="spanLeft">Watched:</span>
        <span id="spanRight">
          <%=movie.Watched %>
        </span>
      </h3>
    </div>

    <div class="card p-3">
      <h3 class="lead" id="movieContainer">
        <span id="spanLeft">Release Date:</span>
        <span id="spanRight">
          <%=movie.Release_Date %>
        </span>
      </h3>
    </div>
  </div>

  <style>
    .toast-message {
      max-width: 320px;
      /* Adjust the width as per your requirement */
      word-break: break-word;
    }

    #spanRight {
      text-align: right;
      font-size: 18px;
    }

    #spanLeft {
      text-align: left;
      font-size: 18px;
    }
    #movieContainer {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 400px) {
      #movieText {
        font-size: 12px;
      }
    }
  </style>

  <script>
    const watchlistForm = document.getElementById('watchlist-form');
    watchlistForm.addEventListener('submit', (event) => {
      event.preventDefault(); // Prevent the form from submitting normally

      const status = watchlistForm.elements.status.value; // Get the selected status value

      fetch(watchlistForm.action, {
        method: watchlistForm.method,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({
          status: status
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response:', status);
          localStorage.setItem('toastMessage', 'Set as ' + status); // Store the toast message
          window.location.href = '/watchlist'; // Redirect to the main page
        })
        .catch(err => console.error('Error:', err));
    });

  </script>

  <%- include("templates/bottomnav") %>