<%- include("templates/header") %>
    <div class="navbar navbar-light bg-light text-black"
        style="overflow: hidden; position: fixed; justify-content:space-around; top: 0; width: 100%; margin: auto;">
        <h3>
            <%= user %>'s Profile
        </h3>
    </div>
    <br><br><br>
    <form action="/profile">
        <button style="margin-left: 5%; margin-bottom: 5%;">Back</button>
    </form>
    <div class="container d-flex justify-content-center">
        <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="col text-center">
                <h1>Stats</h1>
            </div>
            <h5>Movies on watchlist: <%= watchlistSize %>
            </h5>
            <h5>Total movies watched: <%= moviesWatched %>
            </h5>
            <h5>Total watch time: <%= watchHours %>h <%= watchMinutes %>min</h5>
            <h5>Plan to watch: <%= moviesPlanned %></h5>
            <h5>Rejected movies: <%= rejectedMovieCount %>
            </h5>
        </div>
    </div>
    <%- include("templates/bottomnav") %>